/*geral*/
*{
	 margin: 0;
	 font-family: Helvetica;
}

/*Barra de navegação*/
nav{
	background-color: #303030;
	border-bottom: 3px solid #101010;
	height: 50px;

}

#logo{
	color: #FFF;
	font-size: 20px;
	 font-weight: bold ;
	 text-decoration: none;
	 position: absolute;
	 top: 15px;
	 left: 10px;

}

#menu{
	list-style: nome;
	float:right;
    margin-top: 17px;

}
.item{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;

}
.item_a{
	color: #white;
	text-decoration: none;

}
.item_a:hover{
color:#CCC;
transition: 5s;

}